.timeline {
    width: 100%;
    background-color: #fff;
    border-radius: 0.5vw;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.time-line {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.time-line p:nth-child(even) {
    align-self: flex-end;
}

.time-line p {
    width: 40%;
    display: flex;
    position: relative;
}

.time-line span {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #c1c7cf;
    border-radius: 5px;
}

.time-line p:nth-child(odd) {
    justify-content: flex-end;
}

.time-line p:nth-child(odd)::after,
.time-line p:nth-child(even)::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.time-line p:nth-child(odd)::after {
    right: -35%;
}
.time-line p:nth-child(even)::after {
    left: -32%;
}

.time-line p:nth-child(odd)::before,
.time-line p:nth-child(even):not(p:last-child):before {
    content: "";
    width: 5px;
    height: 85px;
    position: absolute;
    top: 50%;
}

.time-line p:nth-child(odd)::before {
    right: -28.5%;
}
.time-line p:nth-child(even):not(p:last-child):before {
    left: -25.5%;
}

.time-line p:nth-child(1)::after,
.time-line p:nth-child(2)::after,
.time-line p:nth-child(3)::after,
.time-line p:nth-child(4)::after,
.time-line p:nth-child(5)::after,
.time-line p:nth-child(6)::after,
.time-line p:nth-child(7)::after,
.time-line p:nth-child(8)::after {
    background-image: url("../../assets/Icons/check.svg");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}

.time-line p:nth-child(1)::after,
.time-line p:nth-child(2)::after,
.time-line p:nth-child(3)::after,
.time-line p:nth-child(4)::after,
.time-line p:nth-child(5)::after,
.time-line p:nth-child(1)::before,
.time-line p:nth-child(2)::before,
.time-line p:nth-child(3)::before,
.time-line p:nth-child(4)::before {
    background-color: #8a2be2;
}

.time-line p:nth-child(6)::after,
.time-line p:nth-child(7)::after,
.time-line p:nth-child(8)::after {
    background-color: black;
}

.time-line p:nth-child(5)::before,
.time-line p:nth-child(6)::before,
.time-line p:nth-child(7)::before {
    background-color: #c1c7cf;
}

@media only screen and (max-width: 650px) {
    .time-line {
        width: 210px;
    }

    .time-line p {
        width: 40.4%;
    }

    .time-line span {
        padding: 8px 17px;
    }

    .time-line p:nth-child(odd)::after {
        right: -36.5%;
    }
    .time-line p:nth-child(even)::after {
        left: -34.5%;
    }
    .time-line p:nth-child(odd)::before,
    .time-line p:nth-child(even):not(p:last-child):before {
        height: 80px;
    }
}
