@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alumni Sans", sans-serif;
    font-size: 1.3rem;
    padding-bottom: 150px;
    width: 100%;
}

.box {
    padding: 30px;
    border-radius: 0.5vw;
    background-color: #deecfb;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* ======================    SIDEBAR    ====================== */
aside {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #deecfb;
    z-index: 3;
}

.aside-container {
    padding: 30px 20px;
    position: relative;
}

.comp {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comp p {
    padding: 3px 20px;
    border-radius: 5px;
    border: 1px solid #e9ecef;
}

.comp p:hover {
    cursor: pointer;
    border: 1px solid gray;
    background-color: #f1f7fd;
}

#sidebar-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #3f8efc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: -20px;
    background-color: #f8f9fa;
    cursor: pointer;
    z-index: 2;
    display: none;
    transform: rotate(180deg);
}

/* ======================    MAIN    ====================== */
main {
    width: calc(100% - 370px);
    position: relative;
    left: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ======================    MEDIA    ====================== */
@media only screen and (min-width: 2000px) {
    main {
        width: 1600px;
    }
}

@media only screen and (max-width: 1000px) {
    .box {
        padding: 10px;
    }
    aside {
        width: 30px;
        border-right: 2px solid black;
    }
    .aside-container {
        display: none;
    }
    #sidebar-btn {
        display: flex;
    }
    #sidebar-btn {
        display: flex;
    }
    main {
        width: calc(100% - 80px);
        left: 60px;
    }
}

@media only screen and (max-height: 600px) {
    aside {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    aside::-webkit-scrollbar {
        width: 8px;
    }

    aside::-webkit-scrollbar-thumb {
        background-color: #363daf;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 450px) {
    main {
        width: calc(100% - 50px);
        left: 40px;
    }
}
