@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alumni Sans", sans-serif;
    font-size: 1.3rem;
    padding-bottom: 150px;
    width: 100%;
}

.box {
    padding: 30px;
    border-radius: 0.5vw;
    background-color: #deecfb;
}

a {
    text-decoration: none;
}

/* ======================    SIDEBAR    ====================== */
aside {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #deecfb;
    z-index: 1;
}

.aside-container {
    padding: 30px 20px;
    position: relative;
}

.comp {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comp p {
    padding: 3px 20px;
    border-radius: 5px;
    border: 1px solid #e9ecef;
}

.comp p:hover {
    cursor: pointer;
    border: 1px solid gray;
    background-color: #f1f7fd;
}

#sidebar-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #3f8efc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: -20px;
    background-color: #f8f9fa;
    cursor: pointer;
    z-index: 2;
}

/* ======================    MAIN    ====================== */
main {
    width: calc(100vw - 370px);
    position: relative;
    left: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
